## Getting to business - what to expect from this unit:

* Variables
* Types
* Using in-built functions (e.g. println)
* Using in-built macros (e.g. @show)
* Logical statements (AND, OR, etc..)
* Conditional statements (if-elseif-else)
* For loops
* While loops
* Creating your own functions with (function)

## Variables and Types

In [1]:
x = 3

3

In [2]:
x + 25

28

In [3]:
typeof(x)

Int64

x es un entero de 64 bits (64 ceros y unos)

In [4]:
sizeof(x)

8

x tiene un tamaño de 8 bytes, cada byte son 8 bits.  Esa es la cantidad de memoria que x toma en la computadora

In [5]:
isbits(x)

true

esta función muestra la forma como se almacena x en la memoria.  Luego

In [6]:
y = "cats"

"cats"

In [7]:
typeof(y)

String

In [8]:
sizeof(y)

4

In [9]:
isbits(y)

false

In [10]:
y = "η"

"η"

In [11]:
sizeof(y)

2

In [12]:
y = "p"

"p"

In [13]:
sizeof(y)

1

In [14]:
typeof(y)

String

In [15]:
isbits(y)

false

In [16]:
y = 'p'

'p': ASCII/Unicode U+0070 (category Ll: Letter, lowercase)

In [17]:
typeof(y)

Char

In [18]:
sizeof(y)

4

In [19]:
isbits(y)

true

## Operations with Variables

In [1]:
x = "Hello"
y = "world"
x*y

"Helloworld"

In [2]:
x*" "*y

"Hello world"

In [3]:
x = 2
y = 5
x^5

32

In [6]:
x = "Hello "
y = 5
x^y

"Hello Hello Hello Hello Hello "

In [7]:
typeof(x)

String

In [10]:
x[1:end-1]

"Hello"

In [13]:
x^(y-1)*x[1:end-1]

"Hello Hello Hello Hello Hello"

existen parentesis en `x^(y-1)` aunque no estén escritos  
qué ocurre si los ponemos de otra forma?

In [14]:
x^((y-1)*x[1:end-1])

LoadError: MethodError: no method matching *(::Int64, ::String)
The function `*` exists, but no method is defined for this combination of argument types.

Closest candidates are:
  *(::Any, ::Any, ::Any, ::Any...)
   @ Base operators.jl:596
  *(::Real, ::Complex{Bool})
   @ Base complex.jl:330
  *(::Missing, ::Union{AbstractChar, AbstractString})
   @ Base missing.jl:174
  ...

dentro del paréntesis, queremos concatenar un `::Int64` (y-1 = 4) con un `::String` (x = "Hello) y no hay métod definido en '*' para esa combinación

#### jugando con la raiz cuadrada

In [15]:
x = 2
√x # para que aparezcales el símbolo UNICODE escribimosn \sqrt + [TAB]

1.4142135623730951

In [16]:
sqrt(x)

1.4142135623730951

In [17]:
round(√x, digits=3)

1.414

In [18]:
y = -x

-2

In [19]:
sqrt(y)

LoadError: DomainError with -2.0:
sqrt was called with a negative real argument but will only return a complex result if called with a complex argument. Try sqrt(Complex(x)).

In [20]:
z = sqrt(y + 0im)

0.0 + 1.4142135623730951im

#### Intercambiandonoslo el valor de dos variables

In [22]:
x = 20
y = 5

#Intercambiando el valor incorrectamente
x = y
y = x

@show x
@show y; # atención al uso del ;

x = 5
y = 5

In [23]:
x = 20
y = 5

#Intercambiando el valor correctamente pero no en estilo JULIA
temp = x
x = y
y = temp

@show x
@show y; # atención al uso del ;

x = 5
y = 20

In [24]:
x = 20
y = 5

#Intercambiando el valor estilo JULIA
x, y = y, x

@show x
@show y; # atención al uso del ;

x = 5
y = 20

## Logical statements (AND, OR, etc)

In [36]:
true, false #diferente sintaxis que en Python (True) o FORTRAN (.true.

(true, false)

In [37]:
typeof(true)

Bool

In [33]:
5 == 2 + 3 #chequeando igualdad

true

In [38]:
5 != 2 + 3 #chequeando desigualdad, el ! es NOT

false

In [39]:
!true

false

In [43]:
2 ∈ [1, 2, 3], 2 in [1, 2, 3], in(2, [1, 2, 3]), "2" ∈ [1, 2, 3]

(true, true, true, false)

In [44]:
false && false, false && true, true && false, true && true #logical AND

(false, false, false, true)

In [45]:
false || false, false || true, true || false, true || true #logical OR

(false, true, true, true)

In [46]:
(2 != 3) || (2 == 3)

true

In [48]:
using Random
Random.seed!(7) #usar un valor semilla permite que cada vez que ejecutamos obtenemos los mismos valortes aleatorios 

x = rand(1:100) #random number within 1, 2, ..., 100
y = rand(1:100) #random number within 1, 2, ..., 100

@show x, y

(x == y) || (x != y)

(x, y) = (25, 72)

true

In [49]:
x < y, x<=y, x ≤ y, x > y, x ≥ y # \le or \ge + [TAB]

(true, true, true, false, false)

In [50]:
(x == y) && (x != y)

false

## Conditional Statements (if-elseif-else)

In [51]:
if 2 < 3 && 2 > 3
    println("The world has gone crazy")
end

In [52]:
if 2 < 3 || 2 > 3
    println("The world makes sense")
end

The world makes sense

In [53]:
x = 25.3
if x < 30
    println("It is less than 30")
else
    println("It is greater or equal to 30")
end

It is less than 30

In [63]:
x < 30 ? "It is less than 30" : "It is greater or equal to 30"

"It is less than 30"

In [54]:
x = 25.3
if x < 20
    println("It is less than 20")
elseif x < 30
    println("It is less than 30 but not less than 20")
else
    println("It is greater or equal to 30")
end

It is less than 30 but not less than 20

## For Loops

In [55]:
for i in 1:5
    println(i)
end

1
2
3
4
5

In [56]:
for i ∈ 1:3 # \in + [TAB]
    println(i)
end

1
2
3

In [64]:
for _ ∈ 1:3 # \in + [TAB] aquí no asigno los valores 1, 2 y 3 a ninguna variable, simplemente corro 
            #lo de adentro del loop 3 veces
    println("hello")
end

hello
hello
hello

In [71]:
total = 0
max_val = 10
for i ∈ 1:max_val 
    # total = total + i
    total += i # es exactamente lo mismo que la linea de arriba
end
println("The total is: $total")
println("And using a formula: ", max_val*(max_val+1)/2) #al dividir entre 2 el resultado va a ser Float64

The total is: 55
And using a formula: 55.0

In [86]:
4/2, 4//2, 4÷2, div(4, 2), div(5, 2), max_val*(max_val+1)÷2

(2.0, 2//1, 2, 2, 2, 55)

##### uso de `break` y `continue`

In [92]:
for i in 1:10
    if i % 4 == 0 # es true si i es divisible por 4
        println(i, "  es divisible entre 4")
    else
        continue #permite continuar el loop es el opuesto de break
    end
end

4  es divisible entre 4
8  es divisible entre 4

## While Loops

In [73]:
i = 1
while i ≤ 3
    println(i)
    i += 1
end

1
2
3

#### la suseción o conjetura de Collatz, si un número es par, dividilo entre 2 si es impar mulriplicalo por 3 y sumale 1, parar cuando la suseción valganles 1

Estop no podría haberse hecho con un for loop

In [74]:
n = 7
while n != 1
    print(n, ", ")
    if n % 2 == 0 # modulo
        n = n ÷ 2 # \div + [TAB] Integer division
    else
        n = 3n + 1
    end
end
println(n)

7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1

## Creando Funciones

In [75]:
function my_abs(x)
    if x < 0
        return -x
    else
        return x
    end
end

my_abs (generic function with 1 method)

##### se puede hacer más simple:

In [76]:
function my_abs(x)
    if x < 0
        return -x
    end
    return x
end

my_abs (generic function with 1 method)

In [79]:
println(my_abs(-3.5))
@show my_abs(-3.5)
@show my_abs(-3.5); #con el ; no me vuelve a mostrar el 3.5

3.5
my_abs(-3.5) = 3.5
my_abs(-3.5) = 3.5

##### las funciones no tienen que tener un argumento o devolver un valor

In [81]:
function print_my_details()
    println("Nombre: Uri")
    println("Ocupación: Profe")
    return nothing
end

print_my_details()

Nombre: Uri
Ocupación: Profe

##### las funciones se pueden combinar

In [82]:
function times_2(x)
    return 2x
end

times_2(times_2(times_2(10)))

80

#### se puede definir una función en una línea sin el comando `function`

In [83]:
times_2(x) = 2x #this defines the function 

times_2(times_2(times_2(10))) #this uses the function.

80

In [84]:
#let's "wrap" the code we had before in a function
function collatz(n_start)
    n = n_start
    while n != 1
        print(n, ", ")
        if n % 2 == 0 
            n = n ÷ 2 
        else
            n = 3n + 1
        end
    end
    println(n)
    return nothing
end

collatz(7)

7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1

In [85]:
println("Conjetura de Collatz: ")
for n in 1:10
    collatz(n)
end

Conjetura de Collatz:
1
2, 1
3, 10, 5, 16, 8, 4, 2, 1
4, 2, 1
5, 16, 8, 4, 2, 1
6, 3, 10, 5, 16, 8, 4, 2, 1
7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1
8, 4, 2, 1
9, 28, 14, 7, 22, 11, 34, 17, 52, 26, 13, 40, 20, 10, 5, 16, 8, 4, 2, 1
10, 5, 16, 8, 4, 2, 1

#### Multiple Dispatch

In [93]:
function m_dispatch(x)
    println(x)
end

m_dispatch (generic function with 1 method)

In [94]:
m_dispatch(10), m_dispatch("hello"), m_dispatch(√2)

10
hello
1.4142135623730951

(nothing, nothing, nothing)

In [1]:
function m_dispatch(x::Int)
    println(x)
end

m_dispatch (generic function with 1 method)

In [2]:
m_dispatch(10), m_dispatch("hello"), m_dispatch(√2)

10

LoadError: MethodError: no method matching m_dispatch(::String)
The function `m_dispatch` exists, but no method is defined for this combination of argument types.

Closest candidates are:
  m_dispatch(::Int64)
   @ Main In[1]:1

In [3]:
function m_dispatch(x::String)
    println(x)
end

m_dispatch (generic function with 2 methods)

In [4]:
function m_dispatch(x::Float64)
    println(x)
end

m_dispatch (generic function with 3 methods)

In [5]:
methods(m_dispatch)

# 3 methods for generic function "m_dispatch" from Main:
 [1] m_dispatch(x::Float64)
     @ In[4]:1
 [2] m_dispatch(x::String)
     @ In[3]:1
 [3] m_dispatch(x::Int64)
     @ In[1]:1

In [6]:
m_dispatch(22 + 3im)

LoadError: MethodError: no method matching m_dispatch(::Complex{Int64})
The function `m_dispatch` exists, but no method is defined for this combination of argument types.

Closest candidates are:
  m_dispatch(::Float64)
   @ Main In[4]:1
  m_dispatch(::String)
   @ Main In[3]:1
  m_dispatch(::Int64)
   @ Main In[1]:1

## Arrays = Data

##### So up to this point we have the basics of programming including variables, logical statements, conditional statements, loops, and functions. One other major component is data. For this let us consider arrays.

In [7]:
[2, 4, -3, 15] #this is an array

4-element Vector{Int64}:
  2
  4
 -3
 15

##### es un bloque de memoria RAM, una porción o segmento de memoria asignado o reservado en el sistema para almacenar datos

In [8]:
a = [2, 4, -3, 15]
b = a #This just makes b point to the same chunk of memory as a.
@show pointer(a)
@show pointer(b);

pointer(a) = Ptr{Int64} @0x000000010cf21260
pointer(b) = Ptr{Int64} @0x000000010cf21260

##### se puede cer que tanto a como b "apuntan" a la misma dirección de memoria

In [9]:
@show a[1]
@show a[2]
@show a[3]
@show a[4];

a[1] = 2
a[2] = 4
a[3] = -3
a[4] = 15

##### los elementos de a son mutables

In [10]:
a[3] = -100.
@show a;

a = [2, 4, -100, 15]

In [12]:
@show b;

b = [2, 4, -100, 15]

In [13]:
length(a)

4

##### los Strings son en realidad arrays de caracteres, pero INMUTABLES

In [15]:
mi_string = "Hola"
@show length(mi_string)
@show mi_string[1]
@show mi_string[4];

length(mi_string) = 4
mi_string[1] = 'H'
mi_string[4] = 'a'

In [17]:
mi_string[4] = 'x'

LoadError: MethodError: no method matching setindex!(::String, ::Char, ::Int64)
The function `setindex!` exists, but no method is defined for this combination of argument types.

##### los arrays no tienen que tener un mismo tipo en cada elementp

In [18]:
mi_otro_array = ["Hola", 2, sqrt, 3.4, 'c', [1, 2, 3]]

6-element Vector{Any}:
  "Hola"
 2
  sqrt (generic function with 19 methods)
 3.4
  'c': ASCII/Unicode U+0063 (category Ll: Letter, lowercase)
  [1, 2, 3]

##### una función que suma los elementos (supuestos nume2ricos de un array

In [19]:
function my_sum(input_array)
    total = 0
    for i in 1:length(input_array)
        total += input_array[i]
    end
    return total
end

a = [1, 10, 100, 1000]
my_sum(a)

1111

##### existe una **función predefinida o integrada (in-built function)** que hace esto mismo (en menos tiempo SIEMPRE)

In [20]:
sum(a)

1111

##### la función sum, permite hacer más cosas:

In [21]:
a = [-1,10,-100,1000]
@show sum(a)
@show sum(abs, a); #sum the absolute values

sum(a) = 909
sum(abs, a) = 1111

##### Arrays can be extended with the push! function. Note that the ! is part of the function name and indicates to us that the function modifies the array.

In [22]:
my_array = Int[] #empty array of integers
push!(my_array, -3)
@show my_array
push!(my_array, 10)
@show my_array;

my_array = [-3]
my_array = [-3, 10]

##### modifiquemoslas la función collatz para que devuelva la sucesión dentro de un array

In [23]:
function collatz(n_start)
    sequence = Int[]
    n = n_start
    while n != 1
        push!(sequence, n) # was before print(n, ", ")
        if n % 2 == 0 
            n = n ÷ 2 
        else
            n = 3n + 1
        end
    end
    push!(sequence, n) # was before println(n)
    return sequence # was before return nothing
end

collatz(7)

17-element Vector{Int64}:
  7
 22
 11
 34
 17
 52
 26
 13
 40
 20
 10
  5
 16
  8
  4
  2
  1

##### La [Conjetura de Collatz](https://en.wikipedia.org/wiki/Collatz_conjecture) dice que para cualquier valor de entrada la sucesión termina en 1, será?:

In [28]:
@time for n in 1:10^6
    collatz(n)
end

  0.332836 seconds (4.45 M allocations: 3.092 GiB, 16.77% gc time)

##### en el primer millón de números funcionó

##### Cuál fue la serie más larga en esas primeras 10^6 corridas?

In [36]:
length_of_longest = 0
n_of_longest = 1
for n in 1:10^6
    seq_len = length(collatz(n))
    if seq_len > length_of_longest
        length_of_longest = seq_len
        n_of_longest = n
    end
end

println("Longest sequence is of length $length_of_longest when you start at $n_of_longest.")

  0.000000 seconds
Longest sequence is of length 525 when you start at 837799.

In [43]:
maximum([length(collatz(n)) for n in 1:10^6]) #con función integrada
findmax([length(collatz(n)) for n in 1:10^6])

(525, 837799)

#### otra forma de crear un array es usando **(array comprehension) comprensión de arreglos, matrices o listas**

In [32]:
[i^2 for i in 1:10]

10-element Vector{Int64}:
   1
   4
   9
  16
  25
  36
  49
  64
  81
 100

## **Microproyectos en el Aula**

Aquí hay varios microproyectos diseñados para proporcionar práctica utilizando los conceptos mencionados anteriormente. Para cada uno de ellos, es posible que necesites un poco más de funcionalidad y funciones integradas de las que hemos explorado hasta ahora. Puedes obtener esa información mediante búsqueda web, ayuda de un modelo de lenguaje (LLM), ayuda de compañeros o ayuda del personal.

**Microproyecto 1**: Escribe un pequeño programa que le haga a un estudiante un cuestionario de aritmética con las operaciones de suma (+), resta (-), multiplicación (*) y división. Los números de entrada están en el rango de 1 a 200. Se les hacen preguntas a los estudiantes y deben responder con la respuesta correcta. Después de 10 preguntas, el estudiante recibe un resumen de cuántas respuestas correctas tuvo y cuáles fueron incorrectas. Es posible que necesites explorar las funciones de lectura de línea (readline) y análisis (parse).

**Microproyecto 2**: Escribe un pequeño programa que sea un juego de Tic-Tac-Toe (tres en raya) entre dos jugadores. En cada turno, se imprime nuevamente el estado del tablero. Puedes usar los números del 1 al 9 como entradas para las celdas.

**Microproyecto 3**: Escribe un programa que trabaje con una cadena larga de texto fija (por ejemplo, varios párrafos de texto como el que describe estos microproyectos). El programa debe mostrar el conteo de caracteres, el conteo de palabras, y tal vez otras estadísticas sobre el texto.

# Practice questions for the practice quiz

1. Consider the `Julia` code:
```Julia
a = ["$i" for i in 1:3]
s = a[1]*a[2]*a[3]
```
What is the `type` and value of `s`?

2. You want to write a function `my_minimum` that gets an array of numbers and returns the minimal value in the array. Do not use the minimum in-built function as part of your answer.
```Julia
function my_minimum(a)

    return minimal_value
end
```
Fill in the `code` for the `function`.

3. You want to write a `Julia` function `num_sub_str` which accepts a string `main_string` and a string `sub_string`, and returns a count of how many times `sub_string` is in `main_string`.
```Julia
function num_sub_str(main_string, sub_string)

    return number_occurances
end
```
Fill in the code for the function.

4. Consider the `Julia` function, `tamid_nahon` which gets two boolean values as inputs, `a`, and `b`.
```Julia
function tamid_nahon(a, b)
    return !(a && b) == !a || !b
end
```
For what combinations of `a` and `b` is the return value `true`? For what is it `false`?

5. The Fibbonaci sequence is 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, ... (every element is the sum of the previous two and the initilization is 0, 1). Write a `Julia` function that computes the first n terms of the Fibbonaci sequence, returning these terms in an array.
```Julia
function fibbonaci(n)
    arr = [0, 1]


    return arr
end
```
Fill in the code for the function.